<!DOCTYPE html>

<html>

    <head>
    
        <title>Entri Penolakan</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
	    
	    <script src="{{ url_for('static', filename='js/shaven.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/rapydscript-ng-0.4.7-baselib.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/rapydscript-ng-0.4.7-compiler.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/myrslib.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/rs_eval.js') }}"></script>
        <script src="{{ url_for('static', filename='rs/body2.py') }}"></script>
        <script src="{{ url_for('static', filename='rs/index5.py') }}"></script>
        
    </head>
    
    <body>
		
	</body>
    

<!--
    <body style='padding:0px; margin:0px'>
		
		<h1 id="h1">Hello</h1>
		<script id="test">rs_eval("test",`

document.getElementById('h1').onclick=say

class Test:
  def __init__(self):
    pass
  def say(self):
    alert('Hello')

test = Test()

def say():
  test.say()

		`);</script>
		
    </body>
-->

    
</html>
