<!DOCTYPE html>

<html>

    <head>
    
        <title>Entri Penolakan</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
	    
	    <script src="{{ url_for('static', filename='js/shaven.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/rapydscript-ng-0.4.7-baselib.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/rapydscript-ng-0.4.7-compiler.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/myrslib.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/rs_eval.js') }}"></script>
        <script src="{{ url_for('static', filename='rs/body.py') }}"></script>
        <script src="{{ url_for('static', filename='rs/index.py') }}"></script>
        
    </head>
    
    <body>
		
	</body>
</html>
